@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'soraregular';
    src: url('/fonts/sora-variablefont_wght-webfont.woff2') format('woff2'),
         url('/fonts/sora-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('/fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('/fonts/poppins-black-webfont.woff2') format('woff2'),
         url('/fonts/poppins-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter-regular-webfont.woff2') format('woff2'),
         url('/fonts/inter-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('/fonts/inter-bold-webfont.woff2') format('woff2'),
         url('/fonts/inter-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('/fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Kadwa';
    src: url('/fonts/kadwa-regular-webfont.woff2') format('woff2'),
         url('/fonts/kadwa-regular-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}